.switch {
    width: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    user-select: none;
}

.disabledSwitch {
    width: 100%;
    border: none;
    background: transparent;
    user-select: none;
}