.schemaview .hoverbutton {
    visibility: hidden;
}

.schemaview:hover .hoverbutton {
    visibility: visible;
}

.h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.schemaview > td {
    vertical-align: middle;
}


.radius-left {
    border-radius: 0!important;
    border-top-left-radius: 4px!important;
    border-bottom-left-radius: 4px!important;
}

.radius-right {
    border-radius: 0!important;
    border-top-right-radius: 4px!important;
    border-bottom-right-radius: 4px!important;
}